 .WikiCard{
        margin-top: 2em;
        h1{
            margin: 0;
            font-size: 2em;
            padding-bottom: 0.3em;
            font-weight: 900;
            margin-left: 5%;
        }
        div.content{
            width: 90%;
            margin: 1em auto;
            margin-bottom: 0;
        }
        .bgWrapper{
            position: relative;
            background-size: cover;
            background-position: center center;
            background-color: grey;

            width : 90%;
            height : 25vh;
            max-height: 180px;
            border-radius: 20px;
            margin-top: 1em;
            margin-left: 5%;
        }
    }
