$Comfortaa: 'Comfortaa';

.mainPage{
  .content{
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 0;
    font-family: $Comfortaa;
    h2{
        font-size: 1.3rem;        
    }
    p{
      padding : 1rem 1rem 0 1rem;
      max-width: 380px;
      line-height: 1.1rem;
    }
  }
}