.mainPage{
  .content{
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.3rem 0;
    font-family: 'Montserrat Alternates', sans-serif;
    h2{
        font-size: 1.3rem;        
    }
    .text{
      width: 90%;
      font-size: 0.9em;
      font-family: 'Montserrat Alternates', sans-serif;
      line-height: 1.2em;
      .paragraph{
          margin: 0.5rem 0;
          .tab{
              display: inline-block;
              width: 1rem;
              height: 1em;
          }
          .cont{
              display: inline;
          }
      }
    }
  }
}