li.radio{
    font-size: 1.1em;
    margin-top: 0.5em;

    .radioButton{
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 7px;
    }

    .radioButton + label {
        position: relative;
        padding: 0 0 0 35px;
        cursor: pointer;
        display: flex;
        align-items: center;
        .icon{
            width: 40px;
        }
        .text{
            margin-left: 15px;
        }
    }

    .radioButton + label:before {
        content: '';
        position: absolute;
        top: -3px;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #CDD1DA;
        border-radius: 50%;
        background: #FFF;
    }
    .radioButton + label:after {
        content: '';
        position: absolute;
        top: 1px;
        left: 4px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #333;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
        opacity: 0;
        transition: .2s;
    }
    .radioButton:checked + label:after {
        opacity: 1;
    }
}