.orderOutput{
    width: 100%;
    padding-top: 80px;
    padding-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > div {
        box-sizing: border-box;
        width: 100%;
        padding : 0.5rem 1rem;
    }
    .logo{
        padding-bottom: 0;
        width: 20em;
        height: 18.5em;
        display: flex;
        align-items: center;
        justify-content: center;
        & * {
            max-height: 18.5em;
        }
        img{
            width: 100%;
        }        
    }
    .title{
        font-size: 1.7em;
    }
    .details{
        padding-left: 2.5em;
        .detail{
            margin-top: 0.3em;
            font-size: 0.9em;
            .value{
                font-size: 0.95em;
                margin-left: 1em;
            }
        }
    }
    .comment{
        font-size: 0.8em;
    }
    .dateOut{
        .date{
            margin-left: 1em;
            font-size: 1.3em;
        }
    }
    .TransLink{
        margin-top: 0.5em;
        width: calc(100% - 2rem)
    }
    .key{
        font-weight: 700;
    }
}