.quantum{
    height: 2em;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #dddddd;
    border-radius: 2px;
    .output{
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 5em - 4px);
    }
    .increase, .decrease {
        background-color: white;
        width: 2em;
        height: 100%;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .stick{
            width: 1.2em;
            height: 1.5px;
            background-color: black;
            border-radius: 1px;
            transition: background-color 0.5s;
        }
        .vert{
            position: absolute;
            transform: rotate(90deg);
        }
    }
    
}