
a, a:focus{
    text-decoration: none;
    color: black;
    outline: none;
}

p{
    font-size: 16px;
}

* {
    outline: none;
    cursor: default;
}

body::-webkit-scrollbar {
    display: none;
}

.App{
    position: relative;
    font-family: Comfortaa;
    width: 100%;
    display: flex;
    justify-content: center;
    &::-webkit-scrollbar {
        display: none;
    }
    & > *:not([class = 'popWrapper']):not([class = 'orderPush']):not([class = 'bugOverlay']){
        width: 100%;
        max-width: 400px;
    }
    & *{
        box-sizing: border-box;
    }
}

// @media screen and (max-width: 500px) {
//     .App * {
//         font-size: 12px;
//     }
// }

