
a, a:focus{
    text-decoration: none;
    color: black;
    outline: none;
}

p{
    font-size: 16px;
}

.App{
    font-family: Comfortaa;

    width: 100vw;
    max-width: 400px;
    margin: 0 auto;
}

html {
    overflow: hidden;
}