.Constructor{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    z-index: 0;
    padding-top: 80px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > * {
        margin-bottom: 5%;
    }
    .AssemblyView{
        max-height: 50%;
        height: 500px;
    }
    .output{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        div{
            width: 100%;
            margin-top: 0.3em;
            font-size: 1.1em;
            margin-bottom: 0.1em;
        }
    }
    .buttonsBlock{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 20px;
        .BlackButton, .TransLink{
            width: 40%;
        }
    }
}