.spinner{
  position: relative;
  width: 100%;
  max-width: 200px;
  max-height: 300px;
  path{
    stroke-dasharray: 3594;
    stroke-dashoffset: 3594;
    animation: lines 6s cubic-bezier(.31,-0.01,.65,.79) normal;
  }
  .stop{
    stroke-dasharray: 3594;
    animation: lines2 6s ease forwards;
  }
  .spin{
    stroke-dasharray: 3594;
    animation: lines 6s cubic-bezier(.31,-0.01,.65,.79) reverse infinite;
  }
}

@keyframes lines{
  from {
    stroke-dashoffset: 3594;
  }
  50% {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 3594;
  }
}

@keyframes lines2{
  to {
    stroke-dashoffset: 0;
  }
}
    