/*---GLOBAL VARIABLES---*/

$Roboto: 'Roboto';
$Comfortaa: 'Comfortaa';
$BurgerColor: #505050;
$hatButtonHeight: 40px;

@mixin center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

  a > .button{
    @include center();
    $hatButtonHeight: 35px;
    flex-direction: row;
    border: 1.2px solid $BurgerColor;
    border-right: 0px solid $BurgerColor;
    box-sizing: border-box;
    width: 70vw;
    max-width: 290px;
    height: $hatButtonHeight;
    //margin-right: 20px;
    .text{
      @include center();
      font-family: $Comfortaa;
      width: 65vw;
      max-width: 270px;
      height: $hatButtonHeight;
    }
    .arrow{
      @include center();
      width: 20px;
      height: $hatButtonHeight;
      background-color: $BurgerColor;
      img{
        transform: scale(0.4);
      }
    }
  }