.BlackButton{
    cursor: default;
    width: 100%;
    border : 0;
    background-color: #fff;
    color: white;
    border-radius: 6px;
    font-family: Comfortaa;
    padding: 10px 0;
    transition: background-color 0.2s;
}