.colorPicker{
    max-width: 400px;
    width : 100%;
    .title{
        box-sizing: border-box;
        font-size: 1.1em;
    }
    .colors{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }
}