.ingredientsMaster{
    box-sizing: border-box;
    min-height: 100px;
    width: 100%;
    background-color: #fff;

    .summary{
        font-size: 1.3em;
        line-height: 1.3em;
        max-width: 100%;
        align-self: flex-start;
    }
}