/*---GLOBAL VARIABLES---*/

$Roboto: 'Roboto';
$Comfortaa: 'Comfortaa';
$BurgerColor: #505050;
$hatButtonHeight: 40px;

/*---MIXINES---*/

@mixin fullscreen(){
  width: 100vw;
  height: 100vh;
}

@mixin center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---GLOBAL CLASSES---*/

body{
    font-family: $Roboto;
  }
  
  a, a:focus{
      text-decoration: none;
      color: black;
      outline: none;
  }
  
  p{
    font-size: 16px;
  }

.basement{
  @include center();
  padding-top: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  justify-content: space-around;
  min-height: 120px;
  background-color: #494949;
  color: white;
  font-family: $Comfortaa;
  h2{
    font-size: 1.2em;
  }
  span:last-child{
    font-size: 0.8em;
  }
  img{
    height: 30px;
    width: 30px;
  }
}

img{
  width: 100%;
}