/*---GLOBAL VARIABLES---*/
/*---MIXINES---*/
/*---SWUP ANIMATIONS---*/
.transition-fade {
  transition: 0.4s;
  opacity: 1; }

html.is-animating .transition-fade {
  opacity: 0; }

/*---GLOBAL CLASSES---*/
body {
  font-family: "Roboto"; }

a, a:focus {
  text-decoration: none;
  color: black;
  outline: none; }

p {
  font-size: 16px; }

/*--------------
    LOGIN
----------------*/
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .login form, .login form > input, .login .copyright {
    margin-top: 3vh; }
  .login .logo {
    width: 80vw;
    max-width: 330px; }
  .login .copyright {
    font-size: 14px;
    width: 200px;
    text-align: center; }
  .login form {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .login form div {
      width: 80vw;
      max-width: 350px;
      margin-bottom: 10px; }
      .login form div input {
        width: 100%;
        font-weight: 300;
        border: 0px solid white;
        font-family: "Comfortaa"; }
        .login form div input::placeholder {
          color: #6a6a6a; }
      .login form div .valid {
        font-family: "Comfortaa";
        color: #860000;
        height: 16px;
        font-size: 14px; }
    .login form > a > input {
      width: 70vw;
      max-width: 250px;
      height: 55px;
      font-size: 20px;
      font-weight: 300;
      border: 0px solid black;
      background: #787878;
      color: white;
      letter-spacing: 1.5px;
      transition: background 1s; }

/*--------------
    MAIN PAGE
----------------*/
.mainPage {
  width: 100vw;
  max-width: 400px;
  margin: 0 auto; }
  .mainPage .hat {
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    height: 60px;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .mainPage .hat .burger {
      margin-left: 20px;
      height: 17px;
      width: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .mainPage .hat .burger div {
        background-color: #505050;
        height: 3px;
        border-radius: 2px; }
        .mainPage .hat .burger div:first-child {
          animation: burgerIconAnimation  4s infinite linear;
          animation-direction: alternate; }
        .mainPage .hat .burger div:last-child {
          animation: burgerIconAnimation  4s infinite linear;
          animation-direction: alternate-reverse; }
    .mainPage .hat a > .button {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      border: 2px solid #505050;
      box-sizing: border-box;
      width: 70vw;
      max-width: 290px;
      height: 35px;
      margin-right: 20px; }
      .mainPage .hat a > .button .text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Comfortaa";
        width: 65vw;
        max-width: 270px;
        height: 35px; }
      .mainPage .hat a > .button .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 35px;
        background-color: #505050; }
        .mainPage .hat a > .button .arrow img {
          transform: scale(0.4); }
  .mainPage .parallax-container {
    width: 100%; }
    .mainPage .parallax-container .underHat {
      height: 60px; }
  .mainPage .content {
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0; }
    .mainPage .content h1 {
      font-size: 1.3em;
      font-family: "Comfortaa";
      margin-bottom: 1em; }
    .mainPage .content p {
      max-width: 320px; }
  .mainPage .basement {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-around;
    min-height: 120px;
    background-color: #494949;
    color: white;
    font-family: "Comfortaa"; }
    .mainPage .basement h2 {
      font-size: 1.2em; }
    .mainPage .basement span:last-child {
      font-size: 0.8em; }
    .mainPage .basement img {
      width: 30px; }
  .mainPage img {
    width: 100%; }

/*--------------
    BURGER MENU
----------------*/
.burgerMenu {
  width: 100vw;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-family: "Comfortaa";
  font-size: 1.1em; }
  .burgerMenu .arrow {
    margin-top: 5vh;
    margin-left: 5%; }
    .burgerMenu .arrow img {
      height: 90vh; }
  .burgerMenu .wrapper {
    margin-right: 5%;
    width: 80%;
    display: flex;
    flex-direction: column; }
    .burgerMenu .wrapper .logo {
      margin: 10vh 0; }
      .burgerMenu .wrapper .logo img {
        width: 80%; }
    .burgerMenu .wrapper nav div {
      transition: transform 0.2s; }
      .burgerMenu .wrapper nav div:hover {
        transform: translateX(-10px);
        transition: 0.2s; }
    .burgerMenu .wrapper a.exit {
      align-self: center; }
      .burgerMenu .wrapper a.exit .cross {
        margin-top: 7vh;
        border-radius: 50%;
        width: 30px;
        transition: transform 1s; }
        .burgerMenu .wrapper a.exit .cross:hover {
          transform: rotate(180deg);
          transition: 1s; }

/*-----------------------
    COMMING SOON  PAGE
-----------------------*/
.commingSoon {
  width: 100vw;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto"; }
  .commingSoon img {
    margin-top: 10%;
    width: 100%; }
  .commingSoon div {
    margin-top: 10%;
    text-align: center;
    font-size: 1.6em; }
    .commingSoon div h2 {
      margin-bottom: 10%;
      font-weight: 500;
      font-size: 1.3em; }
  .commingSoon a {
    margin-top: 10%;
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: underline; }
    .commingSoon a:hover {
      color: #166362; }

/*-----------------------
       ANIMATIONS
-----------------------*/
@keyframes burgerIconAnimation {
  from {
    width: 50%;
    margin-left: 50%; }
  35% {
    width: 50%;
    margin-left: 50%; }
  40% {
    width: 100%;
    margin-left: 0; }
  60% {
    width: 100%;
    margin-left: 0; }
  65% {
    width: 50%;
    margin-left: 0; }
  to {
    width: 50%;
    margin-left: 0; } }
