/*---GLOBAL VARIABLES---*/

$Roboto: 'Roboto';
$Comfortaa: 'Comfortaa';
$BurgerColor: #505050;
$hatButtonHeight: 40px;

/*---MIXINES---*/

@mixin fullscreen(){
  width: 100vw;
  height: 100vh;
}

@mixin center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---GLOBAL CLASSES---*/

body{
    font-family: $Roboto;
  }
  
  a, a:focus{
      text-decoration: none;
      color: black;
      outline: none;
  }
  
  p{
    font-size: 16px;
  }

/*--------------
    BURGER MENU
----------------*/
.burgerMenu{
    @include fullscreen();
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: $Comfortaa;
    font-size: 1.1em;
    .arrow{
        margin-top: 5vh;
        margin-left: 5%;
        img{
            height: 90vh;
        }
    }
    .wrapper{
        margin-right: 5%;
        width: 80%;
        display: flex;
        flex-direction: column;
        .logo{
            margin: 10vh 0;
            img{
                width: 80%;
            }
        }
        nav{
            div{
                transition: transform 0.2s;
                &:hover{
                    transform: translateX(-10px);
                    transition: 0.2s;
                }
            }
        }
    }
}