.Constructor{
    position: fixed;
    z-index: 1;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .NavVidget{
        margin-top: 50px;
    }
}
