.background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color:rgba(115,115,115,0.5);
    transition: background-color 0.4s;
}

.popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color:rgba(0,0,0,0);
    transition: top 0.6s ease-in-out;

    .line{
        width: 10vw;
        min-width: 75px;
        height: 5px;
        border-radius: 2.5px;
        background-color: #fff;
    }

    .content{
        box-sizing: border-box;
        width: 100%;
        max-height: 90vh;
       
        max-width: 400px;
        margin-top: 6px;

        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        border-radius: 20px 20px 0 0;
        background-color: #fff;

        .info{
            padding: 20px;
            h2{
                font-size: 2em;
                margin-bottom: 0.6em;
            }
            ul{
                padding-left: 20px;
            }
        }
        .add{
            box-sizing: border-box;
            min-height: 90px;
            width: 100%;
            background-color: #fff;
            box-shadow: 0px -1px 4px -1px rgba(50, 50, 50, 0.35);
            padding: 10px 20px 10px 20px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .summary{
                font-size: 1.2em;
                line-height: 1.3em;
                max-width: 100%;
                padding-bottom: 0.5em;
                align-self: flex-start;
            }
        }
    }
}

.hide{
    top : 100vh;
}

