.color{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0.3em;
    transition: transform 0.2s;

    .colorInput{
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 7px;
    }
    .checkarrow{
        position: absolute;
        z-index: -1;
        opacity: 0;
        width: 4em;
        height: 4em;
        transition: opacity 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        & > svg{
            width: 50%;
            height: 50%;
        }
    }

    .colorLabel{
        display: block;
        box-sizing: border-box;
        width : 4em;
        height: 4em;
        border-radius: 0.5em;
    }

    &:hover{
        transform: scale(1.08);
    }

    .colorInput:checked + .checkarrow{
        z-index: 1;
        opacity: 1;
        transition: 0.8s;
    }
}