.burgerMenu{
    width: 100vw;
    height: 100vh;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    .arrow{
        margin-left: 5%;
    }
    .wrapper{
        margin-right: 5%;
        margin-top: 10vh;
        margin-bottom: 10vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        & > *{
            margin: 1.5em 0;
        }
        .logo{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 40%;
            }
        }
        .crossWrapper{
            margin-top: 5vh;
        }
    }
}