/*---GLOBAL VARIABLES---*/

$Roboto: 'Roboto';
$Comfortaa: 'Comfortaa';
$BurgerColor: #505050;
$hatButtonHeight: 40px;

/*---MIXINES---*/

@mixin fullscreen(){
  width: 100vw;
  height: 100vh;
}

@mixin center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

  .outBurger{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    .burger{
      height: 14px;
      width: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div{
        background-color: $BurgerColor;
        height: 2px;
        border-radius: 1px;
        &:first-child{
            animation: burgerIconAnimation  4s infinite linear;
            animation-direction: alternate;
        }
        &:last-child{
            animation: burgerIconAnimation  4s infinite linear;
            animation-direction: alternate-reverse;
        }
      }
    } 
  } 

  @keyframes burgerIconAnimation {
    from{
        width: 50%;
        margin-left: 50%;
    }
    35%{
        width: 50%;
        margin-left: 50%;
    }
    40%{
        width: 100%;
        margin-left: 0;
    }
    60%{
        width: 100%;
        margin-left: 0;
    }
    65%{
        width: 50%;
        margin-left: 0;
    }
    to{
        width: 50%;
        margin-left: 0;
    }

}