 
  a, a:focus{
      text-decoration: none;
      color: black;
      outline: none;
  }

#underHat{
  text-align: center; 
  height: 50px;   
}

  .mainPage{
    max-width: 400px;
    .parallax-container{
        width: 100%;
        
        }
  }