/*---GLOBAL VARIABLES---*/

$Roboto: 'Roboto';
$Comfortaa: 'Comfortaa';
$BurgerColor: #505050;
$hatButtonHeight: 40px;

/*---MIXINES---*/

@mixin fullscreen(){
  width: 100vw;
  height: 100vh;
}

@mixin center(){
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---GLOBAL CLASSES---*/

body{
    font-family: $Roboto;
  }
  
  a, a:focus{
      text-decoration: none;
      color: black;
      outline: none;
  }
  
  p{
    font-size: 16px;
  }

#underHat{
  text-align: center; 
  height: 60px;   
}

  .mainPage{
    width: 100vw;
    max-width: 400px;
    margin: 0 auto;
    .parallax-container{
        width: 100%;
        
        }
  }