.error{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Comfortaa;
  margin-bottom: 1.2em;
  .error{
    max-width: 175px;
    width: 50%;
  }
  h2{
    font-size: 1.2em;
  }
  p{
    max-width: 280px;
    text-align: center;
  }
  button{
    padding: 5px 20px;
    color:white;
    border: none;
    background-color: black;
    border-radius: 12px;

    svg{
      max-width: 30px;
      max-height: 30px; 
      path{
        fill: #fff;
      } 
    }
  }
  & > *{
    margin-top: 1em;
  }
}