
$black: black;
$white: white;
$gray: #505050;

$shaft-width: 1px;
$newshaft-width: 24px;
$shaft-thickness: 1px;
$arrow-head-width: 10px;
$arrow-head-thickness: $shaft-thickness;

li.radio{
    font-size: 1.1em;
    margin-top: 0.5em;
    display: inline-block;
    color: $black;
    position: relative;
    transition: all 0.2s;

    .radioButton{
        position: absolute;
        z-index: -1;
        opacity: 0;
        margin: 10px 0 0 7px;
    }

    label{
        position: relative;
        padding: 0 0 0 35px;
        display: flex;
        align-items: center;
        .icon{
            & > *{
              width: 100%;
              max-width: 40px;
              max-height: 1.2em;
            }
        }
        .text{
            margin-left: 15px;
        }
    }

    .the-arrow {
        width: $shaft-width;
        transition: all 0.2s;
        transition-delay: 0.2s;
       
        &.-left {
          position: absolute;
          top: 45%;
      
          > .shaft {
            width: 0;
            background-color: $gray;
            
            &:before,
            &:after {
              width: 0;
              background-color: $gray;
            }
          }
        }

        > .shaft {
            display: block;
            height: $shaft-thickness;
            position: relative;
            transition: all 0.2s;
            transition-delay: 0;
            will-change: transform;
        
            &:before,
            &:after {
              content: '';
              height: $arrow-head-thickness;
              position: absolute;
              top: 0;
              right: 0;
            }
        
            &:before {
              transform-origin: top right;
            }
        
            &:after {
              transform-origin: bottom right;
            }
          }
    }
    
    .radioButton:checked + .the-arrow {
        > .shaft {
            width: $newshaft-width;
            transition-delay: 0.1s;
    
            &:before,
            &:after {
              width: $arrow-head-width;
              transition-delay: 0.1s;
            }
    
            &:before {
              transform: rotate(40deg);
            }
    
            &:after {
              transform: rotate(-40deg);
            }
          }
    }
}