.content {
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  font-family: "Comfortaa"; }
  .content h2 {
    font-size: 1.3em;
    margin-bottom: 1em; }
  .content p {
    max-width: 350px;
    line-height: 1.1em; }
