.AssemblyView{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .assembly{
        position: relative;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & > * {
            height: 90%;
        }
    }
}