/*---GLOBAL VARIABLES---*/
/*---MIXINES---*/
/*---GLOBAL CLASSES---*/
body {
  font-family: "Roboto"; }

a, a:focus {
  text-decoration: none;
  color: black;
  outline: none; }

p {
  font-size: 16px; }

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Comfortaa"; }
  .error .errorImg {
    max-width: 175px;
    width: 50%; }
  .error h2 {
    font-size: 1.5em; }
  .error p {
    max-width: 280px;
    text-align: center; }
  .error button {
    padding: 10px 20px;
    color: white;
    border: none;
    background-color: black;
    border-radius: 12px; }
    .error button img {
      max-width: 30px; }
  .error > *:not(.errorImg) {
    margin-top: 1em; }
