.transition-fade {
  transition: 0.4s;
  opacity: 1; }

html.is-animating .transition-fade {
  opacity: 0; }

body {
  font-family: "Roboto", sans-serif; }

a, a:focus {
  text-decoration: none;
  color: black;
  outline: none; }

p {
  font-size: 16px; }

/*--------------
    LOGIN
----------------*/
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  .login .logo {
    width: 40vh;
    margin-top: 60px; }
  .login .copyright {
    margin-bottom: 20px;
    font-size: 14px; }
  .login form {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .login form div {
      width: 80vw;
      max-width: 350px;
      margin-bottom: 10px;
      font-size: 23px; }
      .login form div input {
        width: 100%;
        font-weight: 300;
        border: 0px solid white;
        font-family: "Comfortaa", cursive; }
        .login form div input::placeholder {
          color: #6a6a6a; }
      .login form div .valid {
        font-family: "Comfortaa", cursive;
        color: #860000;
        height: 16px;
        font-size: 14px; }
    .login form > a > input {
      width: 70vw;
      max-width: 250px;
      height: 55px;
      font-size: 20px;
      font-weight: 300;
      border: 0px solid black;
      background: #787878;
      color: white;
      letter-spacing: 1.5px;
      transition: background 1s; }

/*--------------
    MAIN PAGE
----------------*/
.mainPage {
  width: 100vw; }
  .mainPage .parallax-container {
    max-width: 400px;
    margin: 0 auto; }
    .mainPage .parallax-container .hat {
      padding-left: 20px;
      padding-right: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 60px; }
      .mainPage .parallax-container .hat .burger {
        height: 24px;
        width: 25px; }
        .mainPage .parallax-container .hat .burger div {
          background-color: #505050;
          height: 3px;
          margin-bottom: 5.5px;
          border-radius: 2px; }
      .mainPage .parallax-container .hat .button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        border: 2px solid black;
        box-sizing: border-box;
        width: 70vw;
        max-width: 290px;
        height: 40px; }
        .mainPage .parallax-container .hat .button .text {
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Comfortaa", cursive;
          width: 65vw;
          max-width: 270px;
          height: 40px; }
        .mainPage .parallax-container .hat .button .arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 40px;
          background-color: black; }
          .mainPage .parallax-container .hat .button .arrow img {
            transform: scale(0.4); }
    .mainPage .parallax-container .content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40vh; }
      .mainPage .parallax-container .content p {
        max-width: 240px; }
    .mainPage .parallax-container .basement {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      flex-direction: column;
      justify-content: space-around;
      min-height: 120px;
      background-color: #494949;
      color: white;
      font-family: "Comfortaa", cursive; }
      .mainPage .parallax-container .basement h2 {
        font-size: 1.2em; }
      .mainPage .parallax-container .basement span:last-child {
        font-size: 0.8em; }
      .mainPage .parallax-container .basement img {
        width: 30px; }
    .mainPage .parallax-container img {
      width: 100%; }

/*--------------
    BURGER MENU
----------------*/
.burgerMenu {
  width: 100vw;
  height: 100vh;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }
  .burgerMenu .arrow {
    margin-top: 5vh;
    margin-left: 5%; }
    .burgerMenu .arrow img {
      height: 90vh; }
  .burgerMenu .wrapper {
    margin-right: 5%;
    width: 80%;
    display: flex;
    flex-direction: column; }
    .burgerMenu .wrapper .logo {
      margin: 7vh 0; }
    .burgerMenu .wrapper a.exit {
      align-self: center; }
      .burgerMenu .wrapper a.exit .cross {
        margin-top: 7vh;
        border-radius: 50%;
        width: 30px;
        transition: transform 1s; }
        .burgerMenu .wrapper a.exit .cross:hover {
          transform: rotate(180deg);
          transition: 1s; }
