body {
  width: 100%;
  font-style: italic;
  background-color: #676767; }

div {
  width: 300px;
  height: 300px;
  background: linear-gradient(230deg, #23987a, #beb827, #d46016, #1eb31a, #e31645);
  background-size: 1000% 1000%;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite; }

@-webkit-keyframes AnimationName {
  0% {
    background-position: 11% 0%; }
  50% {
    background-position: 90% 100%; }
  100% {
    background-position: 11% 0%; } }

@-moz-keyframes AnimationName {
  0% {
    background-position: 11% 0%; }
  50% {
    background-position: 90% 100%; }
  100% {
    background-position: 11% 0%; } }

@keyframes AnimationName {
  0% {
    background-position: 11% 0%; }
  50% {
    background-position: 90% 100%; }
  100% {
    background-position: 11% 0%; } }
