a.exit{
    margin-left: calc(100% / 2 - 15px);
    .cross{
        margin-top: 7vh;
        border-radius: 50%;
        width:30px;
        transition: transform 1s;
        &:hover{
            transform: rotate(180deg);
            transition: 1s;
        }
    }
  }