.crossWrapper{
    width: 100%;
    margin-top: 7vh; 
    a.exit{
        display:  block;
        margin-left: calc(100%  / 2 - 15px);
        .cross{
            position : relative;
            width:30px;
            height: 30px;
            transform-origin: 15px 15px;
            transition: 1s;
            &:hover{
                transform-origin: 15px 15px;
                transform: rotate(180deg);
                transition: 1s;
                .first, .second{
                    background-color: #505050;
                }
            }
            .first, .second{
                top : 14px;
                position: absolute;
                height : 2px;
                width : 100%;
                background-color: #9A9A9A;
                padding: 0;
            }
            .first{
                transform : rotate(45deg);
            }
            .second{
                transition : transform 0;
                transform : rotate(135deg);
            }
        }
      }
}